body{
    background-color: black;
}
.photo{
    display: flex;
    flex-wrap: nowrap;
    width: 600px;
    height: 550px;
    margin: 100px;
    padding: 50px;
    margin-top: 20px;

}

.text{
    display: flex;
    flex-direction:column;
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    
    
}

.vse{
    display: flex;
    border-style: solid;
    border-color: yellow;
}