
      /* ССылки и внешний вид*/
      body{
         background-color:#F3BE16;
         margin: 0px;
      }
       
      /*Оформление кнопок*/
      .header_links_container{
      font-family: sans-serif;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      
      
      
     
      
     
      }


      
      /*Оформление кнопок*/
      a{
         color: #ffffff;
         background-color: #171717;
         text-decoration: none;
         padding: 15px 15px 15px 15px;
         border: 2px solid #ffffff;
         border-radius: 15px;
         margin-left: 10px;
         margin-right: 10px;
         

         
      } 

      /*Оформление текста на главной странице*/
      .text__glavnaya{
         display: flex;
         background-color: #171717;  
         color: #ffffff;
         border: solid white;
         padding: 20px;
         text-align: center;
         margin-top: 10px;
         padding: 10px;
         width: fit-content;
      }

      .text__zagolovok{
         text-align: center;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         color: black;
         margin-top: 100px;
         font-size: 40px;
      }

      .text__information{
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         color: black;
         margin-top: 50px;
         font-size: 14px
      }

      /*Оформление картинок спортзала*/
      .photo{ 
         text-align: center;
         word-spacing: 40px;
         margin-top: 50px;
         margin-bottom: 250px;
       
      }
      img {
         margin: 10px;
      }
       


/*Тень анимация*/
.ten{
   
  text-align: center;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
   transition: box-shadow 0.3s ease-in-out;
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: black;
   margin-top: 100px;
   font-size: 40px;
 }
 
 .ten:hover {
   box-shadow: -4px 0px 40px rgba(0, 0, 0, 1);
 }

/*3 блока сайта - хедер,контент и футер*/


 /*Оформление шапки сайта*/
 .header{
   background-color: #171717;
   display: flex;
   padding: 0px;
   position: fixed;
   top: 0;
   z-index: 999;
   width: 100%;
   
   
   

  
 }

 .container{
   
   padding: 0px 10%;

 }
      

      .content{

      }



      .footer{
         margin-top: auto;
         margin-top: 70px;
         padding: 20px;
         background-color: #171717;
         display: flex;
         align-content: flex-start;
      }

      /*Инфа сайта в футере*/
      .row{
         display: block;
         font-size: 14px;
         color: #ffffff;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         padding-left: 110px;
         padding-top: 40px;
         padding-right:110px;
      }

      